In [39]:
pip install apyori

Requirement already satisfied: apyori in d:\anaconda\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [40]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: matplotlib>=3.0.0 in d:\anaconda\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: numpy>=1.16.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: scikit-learn>=0.20.3 in d:\anaconda\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: joblib>=0.13.2 in d:\anaconda\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: pandas>=0.24.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: scipy>=1.2.1 in d:\anaconda\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\sidha\appdata\roaming\python\python38\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: six in c:\users\sidha\appdata\roaming\python\python38\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [67]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [58]:
retail_data = pd.read_csv('retail.csv')
retail_data.head()

   Cola  Chips  Bread  Butter  Milk  Apple
0     1      1      1       1     1      1
1     1      0      1       1     1      0
2     0      0      1       1     1      0
3     0      1      0       0     0      1
4     1      1      1       1     1      1

In [60]:
retail_data.shape

(22, 6)

In [61]:
retail_data

    Cola  Chips  Bread  Butter  Milk  Apple
0      1      1      1       1     1      1
1      1      0      1       1     1      0
2      0      0      1       1     1      0
3      0      1      0       0     0      1
4      1      1      1       1     1      1
5      1      1      0       0     1      0
6      1      1      1       1     0      1
7      1      1      0       0     1      0
8      1      0      1       0     0      1
9      1      0      1       1     1      0
10     0      1      1       1     0      1
11     1      0      0       1     1      1
12     1      1      1       1     1      0
13     1      0      1       0     1      1
14     1      0      1       1     1      1
15     1      1      1       1     1      1
16     0      1      1       1     1      1
17     0      1      0       1     1      1
18     1      1      1       1     1      1
19     1      0      1       1     1      1
20     1      1      1       0     1      1
21     0      1      0       0     0      0

In [72]:
frequent_items = apriori(retail_data, min_support = 0.05, use_colnames=True)
rules = association_rules(frequent_items, metric="lift", min_threshold=1)
rules = rules.sort_values(['confidence', 'lift'], ascending=[False, False])
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
110,"(Cola, Chips, Butter)",(Bread),0.272727,0.727273,0.272727,1.000000,1.375000,0.074380,inf
135,"(Cola, Apple, Chips)",(Bread),0.272727,0.727273,0.272727,1.000000,1.375000,0.074380,inf
281,"(Milk, Cola, Chips, Butter)",(Bread),0.227273,0.727273,0.227273,1.000000,1.375000,0.061983,inf
308,"(Chips, Cola, Apple, Butter)",(Bread),0.227273,0.727273,0.227273,1.000000,1.375000,0.061983,inf
336,"(Milk, Cola, Apple, Chips)",(Bread),0.227273,0.727273,0.227273,1.000000,1.375000,0.061983,inf
...,...,...,...,...,...,...,...,...,...
494,(Apple),"(Cola, Butter, Bread, Milk, Chips)",0.681818,0.227273,0.181818,0.266667,1.173333,0.026860,1.053719
492,(Bread),"(Cola, Butter, Milk, Apple, Chips)",0.727273,0.181818,0.181818,0.250000,1.375000,0.049587,1.090909
490,(Cola),"(Butter, Bread, Milk, Apple, Chips)",0.727273,0.227273,0.181818,0.250000,1.100000,0.016529,1.030303
380,(Milk),"(Chips, Cola, Apple, Butter)",0.772727,0.227273,0.181818,0.235294,1.035294,0.006198,1.010490
493,(Milk),"(Cola, Butter, Bread, Apple, Chips)",0.772727,0.227273,0.181818,0.235294,1.035294,0.006198,1.010490